
<titel>RANDOM ACTS OF KAOS</titel>

<body>

  <h1><b><i>RANDOM ACTS OF KAOS!!!</i></b></h1>
     
  <div>   

   <img src="http://homepage.eircom.net/~thevault/warvault/warhammer/chaos/chaosstar.jpg" class="borderImg" hieght="350" width="350"/>

  </div>

  <hr>    <!-- TODO:  remove hr and implement CSS elements -->

  <h2>WELCOME TO THE KAOS FREAK SHOW!!</h2>

  <P>This is where it really gets interesting. Some of the best practical jokes I've ever done and the stuff to give you a chance to spread a little KAOS!!! The greatest part is i use to do a lot of them and leave them for complete strangers to experience just for the fun of it, and boy do I have some stories for you!!!!</P>

</body>