/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


body, html {
    line-height: 1.2em;
    margin: 0 auto;
  }
  
  body {
    color: #FFF;
    background-color: #303030;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 18px;
  }

  /* .container {
    align-content: center;
    padding: 400px 500px 500px 0;
  } */

  /* h1 {
    font-size: 100px;
    display: block;
    padding: none;
    width: 100%;
  }
  
  h2 {
    font-size: 75px;
    display: block;
    padding: none;
  }
  
  
  
  h3 {
    font-size: 65px;
    display: block;
    padding: none
  }
  
  h4 {
    font-size: 40px;
    display: block;
    padding: none;
  }
   */
  
  /* ########### defaults ############# */
  

  
  