<div class="container">

<h1><b><i>  WELCOME TO KAOS KURIOSITIES!!</i></b></h1>

    <!-- TODO:change web page logo img --> 
      
    <div>
<img src="/assets/img/KAOS_FINAL_LOGO_BILLY1.png" class="borderImg" style="max-width: 800px" max-height="800px" />
    </div>
     

<h2><i><b>Welcome to the all new Kaos Kuriosities!!!</b></i></h2>

<p>This is the kick off of a growing dream by one twisted sick indavidual who's life has been one random act of kaos after another. Well I have decided to bring my sick mind out to share with other, and this company is the culmination of all the sick twisted, and just down right interesting things that I have done, learned, endured, and discovered in this wild ride of a life! please come jion us, and enjoy the thrill of descovery of new things in life!</p>

<h3>So what the hell should you expect here?</h3>

<p><em> Yes I'm laughing about that one,</em> because I never know what I'm going to do one moment to the next , and since this is kind of a culmination of my many life experiences then there will always be something new, How ever we will start with the basics. explore our different shops. The Kaotic Konsignments Shop and Kaos Shop are available to all, how ever the others you can only find out about if you are 18 and over, Sorry kids.</p>

<!-- TODO: make this next element adult only! -->

<!-- <p>Now as for the rest of you of age twisted freaks (if you are not a twisted freak then my apologies, really dont worry hang around long enough and we will help you get there) there are a few other aspects that are available to you! Check out Twisted Delights our premier online custom made fetish gear store, then while your at it take advantage (we enjoy that) of our free adult social network Painful Pleasures where you can meet other open minded kinky indaviduales, and hey if you don't know anything about it, but have question or are just curious come on in and get your life changed!!!!!</p> -->

<h4>This is a new business!</h4>

<p>Since this is a new business there are many aspects of this company that are not available at this time, but have no fear we are working tirelessly, in between pudding and little pickle fights, to get things up and running. Please contact us if you have any questions or concerns. Our contact info can be found via our contact link.</p>

<h5>Be sure to check it out!</h5>

<p>Please be sure to sign up for our site and have a look at our about us section where you can learn some thing about Kaos and Why he has that nick name and why the hell he can't seem to spell it right... actually it's on purpose but you will have to go read about it to find out</p>
</div>