
<title>KAOTIC CONSIGNMENTS</title>

<body class="container">

    
    
    <h1><b><i>  WELCOME TO KAOTIC CONSIGNMENTS!!</i></b></h1> 
<!-- TODO:change web page logo img also must imbed music and video.--> 
            <img src="D:\bcoll\Pictures\Logo.xcf2.png" class="borderImg" hieght="350" width="350"/>
        
<!-- TODO: THIS IS ONLY A ROUGH IDEA NOT EVEN SURE THIS IS HOW i WANT TO DO THIS. mUST GET PHOTOS DOWN LOADED FROM SD CARD AND STORED IN CONSIGNMENT IMG FILE. -->
        
    
    
    <h2> PLEASE READ CAREFULY THIS SHITS IMPORTANT</h2>

        
            <p>This is a consignment shop. The items on in this store do not belong to Kaos Ind. there for we will take no responsability for anything you buy here. the items are checked out to see if they are in good working order. the items on this site may not be new as there are antiques that are sold here as well as other used and new items. in the case of a problem with your purchase you may contact us and we will do everything in our power to help with any reasonable request involving your purchase. Kaos Ind. is not leagaly, financialy or directly responsable for any items or the affects of said items should anything happen.</p>

    <h3>Please enjoy your shopping. If you have any questions, please do not hesitate to ask. to do so just refer to the contact option in the navigation bar at the top.</h3>  

        

    <div class="container">

            <p>Crystal Balls</p>

        <table>

            <ul>

                <li> <button img src="#" > </button> </li>

                     <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                     <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                     <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                     <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>
    
                     <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                     <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                     <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                     <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                     <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                     <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                     <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                     <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>
    
                     <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                     <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                     <p>enter item description and price here</p>


            </ul>

        </table>

    </div>

    <div class="container">

            <p>Crystal Skulls</p>

        <table>

            <ul>

                 <li> <button img src="#" > </button> </li>

                <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>
    
                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>
                   
            </ul>

        </table>

    </div>

    <div class="container">

            <p>Fossils and Semi Precious Stones</p>

        <table>

            <ul>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

            </ul>

        </table>

    </div>

    <div class="container">

            <p>Collectable and Antique Wood Boxes</p>

        <table>

            <ul>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>
    
                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

            </ul>

        </table>

    </div>

    <div class="container">

            <p>Antique Glass Bottles</p>

        <table>

            <ul>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>
    
                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

            </ul>

        </table>

    </div>

    <div class="container">

            <p>Silver and Other Collectables</p>

        <table>

            <ul>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>
    
                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

            </ul>

        </table>

    </div>

    <div class="container">

            <p>Electronics and Tattoo Equipment</p>

        <table>

            <ul>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>
    
                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

            </ul>

        </table>

    </div>

    <div class="container">

            <p>Rune Stones and Other Religious Items</p>

        <table>

            <ul>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>
    
                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

            </ul>

        </table>

    </div>

    <div class="container">

            <p>Jewelry</p>

        <table>

            <ul>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>
    
                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

                 <li> <button img src="#" > </button> </li>

                    <p>enter item description and price here</p>

            </ul>

        </table>

    </div>

</body>